body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f9fafb;
}    

/* Navbar styles */
.sidebar {
    height: 100vh;
    width: 240px; /* Fixed width */
    position: fixed;
    background-color: #1a2035;
    color: #fff;
    overflow-y: auto;
    font-size: 14px; /* Fixed font size */
    transition: all 0.3s ease; /* Smooth transitions */
}

.sidebar a {
    padding: 10px 20px;
    display: block;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    font-size: 14px; /* Fixed font size */
}

.sidebar a:hover {
    background-color: #2a3050;
}

.sidebar a.active {
    background-color: #007bff;
    color: white;
}

.sidebar i {
    margin-right: 10px;
}

.sidebar .submenu {
    padding-left: 20px;
}

.sidebar .submenu a {
    font-size: 14px; /* Fixed font size */
}

.sidebar .submenu a.active {
    background-color: #0056b3; /* Darker blue for submenu links */
    color: white;
}

.sidebar .submenu.show {
    display: block!important; /* Show submenu when active */
}

.sidebar .submenu {
    display: none;
}

/* Chevron rotation */
.fas.fa-chevron-right.rotate {
    transform: rotate(90deg);
    transition: transform 0.3s ease;
}

.content {
    margin-left: 240px; /* Matches the sidebar width */
    padding: 20px;
    background-color: #f4f6f9;
    min-height: 100vh;
}

.card {
    margin-bottom: 20px;
}
