{% extends 'dashboard/base.html' %}
{% load static %}
{% block extra_head %}
    <style>
       
        .col-md-4 pt-1 {
            font-weight: bold;
        }
        .item-table input, .item-table select {
            min-width: 100px;
        }
        .item-table th, .item-table td {
            vertical-align: middle;
        }
        .add-item {
            margin-top: 1rem;
        }
        .vendor-select-scroll {
            max-height: 200px;
            overflow-y: auto;
        }
    </style>
{% endblock extra_head %}
{% block main_content %}
    <div class="container">
        <h2 class="mb-4">New Bill</h2>
        <form>
            <div class="mb-3">
                <div class="col-md-8 d-flex">
                    <label class="col-md-3 pt-1">Vendor Name <span class="text-danger">*</span></label>
                    <select name="vendor_id" class="form-select vendor-select-scroll">
                        <option value="">Select a Vendor</option>
                        {% for vendor in vendors %}
                            <option value="{{ vendor.id }}">{{ vendor.company_name }} ({{ vendor.name }})</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <div class="mb-3">
                <div class="mb-3">
                    <div class="col-md-6 d-flex">
                        <label class="col-md-4 pt-1">Bill Number <span class="text-danger">*</span></label>
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="col-md-6 d-flex">
                    <label class="col-md-4 pt-1">Order Number</label>
                    <input type="text" class="form-control">
                </div>
            </div>
            <div class="mb-3">
                <div class="col-md-6 d-flex">
                    <label class="col-md-4 pt-1">Bill Date <span class="text-danger">*</span></label>
                    <input type="date" class="form-control" value="2025-04-13">
                </div>
            </div>
            <div class="mb-3">
                <div class="col-md-6 d-flex">
                    <label class="col-md-4 pt-1">Due Date <span class="text-danger">*</span></label>
                    <input type="date" class="form-control ms-1" value="2025-04-13">
                </div>
            </div>
            <div class="mb-3">
                <div class="col-md-6 d-flex">
                    <label class="col-md-4 pt-1">Payment Terms <span class="text-danger">*</span></label>
                    <select name="payment_terms" class="form-select vendor-select-scroll">
                        <option value="">Select Payment Term</option>
                        {% for term in payment_terms %}
                            <option value="{{ term.0 }}">{{ term.1 }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>


            <div class="form-check mb-3">
                <input class="form-check-input" type="checkbox">
                <label class="form-check-label">This transaction is applicable for reverse charge</label>
            </div>

            <div class="item-table mb-3">
                <table class="table table-bordered" id="itemTable">
                <thead class="table-light">
                    <tr>
                    <th>Item Details</th>
                    <th>Account</th>
                    <th>Quantity</th>
                    <th>Rate</th>
                    <th>Tax</th>
                    <th>Select a Customer</th>
                    <th>Amount</th>
                    <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                    <td class="item-autocomplete-cell"><input type="text" class="form-control item-autocomplete" placeholder="Type or click to select item"></td>
                    <td><select name="account[]" class="form-select">
                            <option value="">Select an Account</option>
                            {% for acc in expense_account_choices %}
                                <option value="{{ acc.0 }}">{{ acc.1 }}</option>
                            {% endfor %}
                        </select>
                    </td>
                    <td><input type="number" name="quantity[]" class="form-control" value="1"></td>
                    <td><input type="number" name="rate[]" class="form-control" value="0"></td>
                    <td><select name="tax[]" class="form-select">
                            <option value="">Select a Tax</option>
                            {% for tax in tax_choices %}
                                <option value="{{ tax.0 }}">{{ tax.1 }}</option>
                            {% endfor %}
                        </select>
                    </td>
                    <td><select class="form-select">
                            <option value="">Select a Customer</option>
                            {% for customer in customers %}
                                <option value="{{ customer.id }}">({{ customer.name }})</option>
                            {% endfor %}
                        </select>
                    </td>
                    <td>
                        <input type="number" class="form-control" name="amount[]" value="0" readonly tabindex="-1">
                    </td>
                    <td><button class="btn btn-danger btn-sm delete-row">X</button></td>
                    </tr>
                </tbody>
                </table>
                <button class="btn btn-outline-primary add-item">+ Add Item Row</button>
            </div>

            <script>

            </script>

        <div class="row mb-3">
            <div class="col-md-2">
                <label class="col-md-4 pt-1">Discount</label>
                <input type="number" class="form-control">
            </div>
            <div class="col-md-2">
                <label class="col-md-4 pt-1">Tax</label>
                <select class="form-select">
                    <option>Select Tax</option>
                    {% for tax in tax_choices %}
                        <option value="{{ tax.0 }}">{{ tax.1 }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-2">
                <label class="col-md-4 pt-1">Tax Amount</label>
                <input type="number" class="form-control" disabled>
            </div>
            <div class="col-md-2">
                <label class="col-md-4 pt-1">Adjustment</label>
                <input type="number" class="form-control">
            </div>
            <div class="col-md-2">
                <label class="col-md-4 pt-1">Total</label>
                <input type="number" class="form-control" disabled>
            </div>
        </div>

        <div class="mb-3">
            <label class="col-md-4 pt-1">Notes</label>
            <textarea class="form-control" rows="2"></textarea>
        </div>


        <div class="d-flex justify-content-between">
            <div>
                <button type="submit" class="btn btn-success">Save as Draft</button>
                <button type="submit" class="btn btn-primary">Save as Open</button>
                <button type="reset" class="btn btn-secondary">Cancel</button>
            </div>
            <div>
                <a href="#" class="text-decoration-none">Make Recurring</a>
            </div>
        </div>
    </form>
</div>

<script>
const apparelItemsData = {{ apparel_items_json|safe }};
</script>

{% endblock main_content %}

{% block extra_js %}
    <script src="{% static 'js/support.js' %}"></script>
{% endblock extra_js %}
